<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>all users data</title>
</head>
<style>
    table ,tr,td,th {
        border: 1px solid black;
    }
    table{
        margin: 0 auto;
    }
</style>
<body>
    <table>
        <tr>
            <th>id</th>
            <th>username</th>
            <th>email</th>
            <th>Edit section</th>
        </tr>
        <% for(user of users){ %>
            <tr>
                <td><%=user.id%></td>
                <td><%=user.username%></td>
                <td><%=user.email%></td>
                <td><form method="get" action="/user/<%=user.id%>/edit">
                    <button>Edit username</button>
                </form></td>
            </tr>
        <% } %>
    </table>
</body>
</html>

